.Certificate {
  align-items: start;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Certificate .card {
  text-align: center;
  background-color: var(--blue);
}

.Certificate .card .title {
  color: var(--title);
  background-color: var(--blue);
  padding: 0.5rem;
}

.Certificate-img img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/*  */
@media (max-width: 993px) {
  .Certificate {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .Certificate {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
